.task {
    min-height: 4.5rem;
    background-color: var(--gray-500);
    border: 1px solid var(--gray-400);
    border-radius: 8px;
    padding: 1.2rem 1.2rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task + .task {
    margin-top: 0.75rem;
}

.rootCheckbox {
    all: "unset";
    margin-top: 3px;
    width: 1rem;
    height: 1rem;
    border-radius: 15px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.rootCheckbox[data-state="checked"] {
    border-radius: 15px;
    background-color: var(--purple-dark);
    border: 2px solid var(--purple-dark);
  }
  
  .rootCheckbox[data-state="checked"]:hover {
    background-color: var(--purple);
    border: 2px solid var(--purple);
  }
  
  .rootCheckbox[data-state="unchecked"] {
    border-radius: 15px;
    border: 2px solid var(--blue);
  }

.indicator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.check {
    color: var(--gray-100);
    font-size: 0.6rem;
}

.title {
    width: 39rem;
    margin-left: 0.75rem;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.4;
    color: var(--gray-100);
}

.title > p {
    word-wrap: break-word;
}

.button {
    background: transparent;
    color: var(--gray-300);
    border: 0;
    cursor: pointer;
    line-height: 0;
    padding: 0.2rem 0.2rem;
}

.button:hover {
    color: var(--danger);
    background: var(--gray-400);
}

.tached {
    text-decoration: line-through;
    color: var(--gray-300);
}